@use "sass:map";

@use "../v";
@use "../colors";
@use "../effects";

.hydra-button {
	border-radius: 90px;
	background-color: var(--accent);
	text-shadow: rgba(0, 0, 0, 0.25) 0pxd 3px 8px;
	color: white;
	font-weight: 400;
	white-space: nowrap;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	position: relative;
	transition: var(--d-m-2) var(--e-s);

	&:hover {
		filter: brightness(1.1);
	}

	&:focus {
		outline: none;
	}

	&:active {
		filter: brightness(1);
	}

	&:not([class^="color-"]) {
		background-color: var(--accent);
		color: white;

		html.dark & {
			background-color: var(--accent-600);

			// &:hover {
			// 	box-shadow: 0 3px 10px 3px var(--accent-700);
			// }
		}

		// &:hover {
		// 	box-shadow: 0 3px 10px 3px var(--accent-200);
		// }
	}

	@each $color in colors.$colors {
		&.color-#{$color} {
			color: white;
			background-color: var(--#{$color}-500);

			// &:hover {
			// 	box-shadow: 0 3px 10px 3px var(--#{$color}-200);
			// }

			html.dark & {
				background-color: var(--#{$color}-600);

				// &:hover {
				// 	box-shadow: 0 3px 10px 3px var(--#{$color}-700);
				// }
			}
		}
	}

	&.size-lg {
		height: 3rem;
		padding: 0 1.5rem;
		font-size: 1rem;
	}

	// Default
	&.size-md,
	&:not(.size-lg),
	&:not(.size-sm) {
		height: 2.5rem;
		padding: 0 1.25rem;
		font-size: 0.9375rem;
	}

	&.size-sm {
		height: 2rem;
		padding: 0 0.75rem;
		font-size: 0.875rem;
	}

	// Variants
	// TODO

	// Mods
	&.rounded {
		border-radius: 90px;
	}
}
