@use "../v";
@use "../colors";
@use "../effects";

$size: 1.25rem;

.hydra-checkbox {
	appearance: none;
	width: calc($size + 2px);
	height: $size;
	background-color: var(--bg-200);
	border: none;
	border-radius: 0.25rem;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 2px 0 0 var(--bg-300);
	transition: var(--d-m-2) var(--e-s);

	&[data-checked="true"] {
		background-color: var(--accent);
		box-shadow: 0 2px 0 0 var(--accent-600);

		&:active {
			box-shadow: 0 1px 0 0 var(--accent-600);
		}
	}

	&:hover {
		border-color: var(--ui-3);
	}

	&:active {
		transform: translateY(1px);
		box-shadow: 0 1px 0 0 var(--bg-300);
	}

	&:focus {
		outline: none;
	}

	&:focus-visible {
		box-shadow: 0 0 0 3px var(--accent-200);

		html.dark & {
			box-shadow: 0 0 0 3px var(--accent-800);
		}
	}
	
	@each $color in colors.$colors {
		&[data-checked="true"].color-#{$color} {
			background-color: var(--#{$color}-500) !important;
			box-shadow: 0 2px 0 0 var(--#{$color}-600) !important;
		}
	}
}
