// I'll probably change this to a CSS variable later on
// to handle dynamic sizing.
$size: 14rem;

.hydra-menu,
.hydra-submenu {
	padding: 0.5rem 0;
	display: flex;
	width: $size;
	background-color: var(--bg);
	border-radius: 0.75rem;
	box-shadow: rgb(27 31 36 / 12%) 0px 1px 3px,
		rgb(66 74 83 / 12%) 0px 8px 24px;
	will-change: transform;
	-webkit-backface-visibility: hidden;
	perspective: 1000px;
	position: absolute;
	z-index: 20;

	html.dark & {
		background-color: var(--bg-100);
		box-shadow: 0 0 1px 1px var(--bg-200);
	}
}

.hydra-menu {
	& .wrapper {
		position: relative;
	}

	& .action-wrap {
		width: 100%;
		padding: 0 0.5rem;
	}

	& .menu-action {
		width: 100%;
		padding: 0.6rem 0.7rem;
		border-radius: 0.5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		background-color: transparent;
		cursor: pointer;
		user-select: none;
		transition: var(--d-f-1) var(--e-s);

		&.highlighted {
			background-color: var(--bg-100);

			html.dark & {
				background-color: var(--bg-200);
			}
		}

		&:hover,
		&:focus {
			background-color: var(--bg-100);

			html.dark & {
				background-color: var(--bg-200);
			}
		}

		&:active {
			background-color: var(--bg-200);
		}

		&:focus {
			outline: none;
		}

		&.selected {
			background-color: var(--accent) !important;
			color: white !important;
		}

		&.submenu-open {
			background-color: var(--bg-100);
		}

		& span {
			font-size: 1rem;
			line-height: 1;
			text-align: left;
		}

		// Don't let icons affect the height of the action
		& i {
			position: absolute;
		}

		& .action-content {
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-direction: row;

			& .icon {
				margin-right: 0.25rem;
			}
		}
	}

	&.size-sm .menu-action {
		padding: 0.6rem;

		& span {
			font-size: 0.9rem;
		}
	}

	&.size-md .menu-action {
		padding: 0.6rem 0.7rem;

		& span {
			font-size: 1rem;
		}
	}

	& .separator {
		width: 100%;
		height: 2px;
		background-color: var(--bg-100);
		margin: 0.5rem 0;

		html.dark & {
			background-color: var(--bg-300);
		}
	}

	// Mods
	&.items-bordered {
		&,
		& .hydra-submenu {
			padding: 0;
		}

		& .action-wrap, & .wrapper {
			padding: 0;
		}

		& .menu-action {
			border-radius: 0;
			padding: 0.6rem 1rem;
		}

		& .action-wrap:not(:last-of-type) {
			& > .menu-action {
				border-bottom: 1px solid var(--bg-200);
			}
		}

		& .wrapper:not(:last-of-type) > .action-wrap > .menu-action {
			border-bottom: 1px solid var(--bg-200);
		}

		& .wrapper:last-of-type > .action-wrap > .menu-action {
			border-bottom: 0;
		}
	}
}

.hydra-submenu {
	top: calc(0.5rem * -1);
	left: $size;
}

.hydra-menu.items-bordered .hydra-submenu {
	top: 0;
	left: 100%;
}
