@use "../effects";

// .hydra-segmented-control {
// 	border-radius: 0.5rem;
// 	padding: 0.25rem;
// 	position: relative;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	flex-direction: row;
// 	gap: 0.5rem;
// 	background-color: var(--ui-2);

// 	& .segment {

// 	}
// }

.hydra-segmented-control {
	padding: 1.5px;
	position: relative;
	background: rgba(118, 118, 128, 0.12);
	border-radius: 8.91px;
	display: flex;
	gap: 0.25rem;

	html.dark & {
		background: rgba(118, 118, 128, 0.24);
		border-radius: 8.91px;
	}

	& .indicator {
		height: calc(100% - 3px);
		position: absolute;
		z-index: 1;
		transition: var(--d-m-2) var(--e-s);
		@include effects.dynamic-bg();
	}

	& .equal-children {
		display: grid !important;
	}

	& .controls {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
	}

	&.icons-only {
		padding-right: 0.125rem;

		& button {
			width: 2rem;
			height: 1.75rem;

			&:not(:last-child) {
				margin-right: 0.125rem;
			}

			&:not(.active) {
				opacity: 0.6;
			}
		}
	}

	& button {
		padding: 0.35rem 0.65rem;
		background-color: transparent;
		border: 0.5px solid transparent;
		border-radius: 0.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		position: relative;
		z-index: 2;
		transition: var(--d-m-2) var(--e-s);

		&:active {
			opacity: 0.7;
		}

		&:focus {
			outline: none;
		}

		&:focus-visible {
			box-shadow: 0 0 0 1px black;
		}
	}
}
